<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786049777770-mcpccnipn06dc6ieka28eg6nstbj1qe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786049777770-mcpccnipn06dc6ieka28eg6nstbj1qe7</string>
	<key>API_KEY</key>
	<string>AIzaSyDnVVERUu_rIz8ZBWMBmHz_-4V7hEtWACI</string>
	<key>GCM_SENDER_ID</key>
	<string>786049777770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connectycube.flutter.chatSample</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-sample-b6156</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-sample-b6156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786049777770:ios:02dee4dab2d861ba21ca13</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-sample-b6156.firebaseio.com</string>
</dict>
</plist>